:root {
  --global-primary: #1199FA;
  --common-white: #FFF;
  --common-tertiary: #7B849B;
  --common-dark: #0B1426;
  --shadow-high: 0 0 12px rgba(0 0 0 / 6%), 0 16px 32px -2px rgba(0 0 0 / 16%);
}
 
:root, .light, .e-theme--light {
  --background-app: #EAEEF4;
  --background-surface-1: #FFF;
  --background-surface-1-hover: #EAEEF4;
  --background-surface-2: #F7F9FA;
  --background-surface-2-hover: #1199FA33;
  --background-surface-emphasis: #C9CFDD;
  --background-surface-emphasis-hover: #A0A9BE;
  --background-surface-contrast: #002F61;
  --background-surface-contrast-hover: #323C52;
  --background-surface-forced-dark: #0B1426;
  --background-surface-forced-white: #FFF;
  --background-status-error-bold: #D9475A;
  --background-status-error: #FAACB6;
  --background-status-error-subtle: #FFE9EC;
  --background-status-pending-bold: #FFBF00;
  --background-status-pending: #FFE591;
  --background-status-pending-subtle: #FFF9D9;
  --background-status-success-bold: #00A68C;
  --background-status-success: #ACECE1;
  --background-status-success-subtle: #E6FAF6;
  --background-status-active-bold: var(--global-primary);
  --background-status-active: #92D1FF;
  --background-status-active-subtle: #E7F5FF;
  --background-status-neutral-bold: #7B849B;
  --background-status-neutral: #C9CFDD;
  --background-status-neutral-subtle: #F7F9FA;
  --background-button-primary: var(--global-primary);
  --background-button-primary-hover: #2EA5FB;
  --background-button-text-hover: #1199FA1A;
  --background-button-danger: #D9475A;
  --background-button-danger-hover: #DE5D6E;
  --background-button-text-danger-hover: #D9475A0D;
  --background-button-success: #00A68C;
  --background-button-success-hover: #1FB19A;
  --background-button-text-success-hover: #00A68C0D;
  --background-button-oncolor: #FFFC;
  --background-button-oncolor-hover: #FFFFFFB3;
  --background-decorative-purple-bold: #9255C2;
  --background-decorative-purple: #D9C0FA;
  --background-decorative-purple-subtle: #F2EBFB;
  --background-decorative-orange-bold: #F76341;
  --background-overlay-modal: #00000080;
  --background-gradient-line-chart: linear-gradient(180deg, #1199FA33 37.38%, #1199FA00 99.51%);
  --background-gradient-margin: linear-gradient(270.21deg, #D9475A -1.61%, #FFBF00 100%);
  --background-gradient-health-rainbow: linear-gradient(270deg, #005747 0%, #00A68C 25%, #FFBF00 51.04%, #FFBF00 70.31%, #D9475A 80.73%);
  --background-gradient-promo-1: linear-gradient(270.21deg, #9F86C1 -1.61%, #1199FA 51.19%, #26D1D3 100%);
  --border-surface: #0000001A;
  --border-surface-emphasis: #00000026;
  --border-surface-contrast: #0000001A;
  --border-status-active: var(--global-primary);
  --border-status-error: #D9475A;
  --border-surface-forced-white: #FFF;
  --border-button-primary: var(--global-primary);
  --border-button-secondary: #7B849B;
  --border-button-success: #00A68C;
  --content-primary: #0B1426;
  --content-secondary: #565F76;
  --content-tertiary: #A0A9BE;
  --content-danger-bold: #801826;
  --content-danger: #E0485C;
  --content-success-bold: #005747;
  --content-success: #017361;
  --content-success-subtle: #00A68C;
  --content-active-bold: #002F61;
  --content-active: var(--global-primary);
  --content-pending-bold: #8C5900;
  --content-pending: #B38300;
  --content-contrast-primary: #FFF;
  --content-contrast-secondary: #A0A9BE;
  --content-forced-white: #FFF;
  --content-forced-tertiary: #7B849B;
  --content-decorative-red: #ED7685;
  --content-decorative-yellow: #FFBF00;
  --content-decorative-green: #109A85;
  --content-decorative-blue: var(--global-primary);
  --content-decorative-purple: #9255C2;
  --content-decorative-purple-bold: #5E257A;
  --content-decorative-grey: #C9CFDD;
 
  /* Popper */
  --popper-theme-background: var(--background-surface-1);
  --popper-theme-background-hover: var(--background-surface-1-hover);
  --popper-theme-text-color: var(--content-primary);
}
 
.dark, .e-theme--dark {
  --background-app: #0B1426;
  --background-surface-1: #151E32;
  --background-surface-1-hover: #1F283C;
  --background-surface-2: #12192B;
  --background-surface-2-hover: #1199FA33;
  --background-surface-emphasis: #323C52;
  --background-surface-emphasis-hover: #565F76;
  --background-surface-contrast: #FFF;
  --background-surface-contrast-hover: #EAEEF4;
  --background-surface-forced-dark: #0B1426;
  --background-surface-forced-white: #FFF;
  --background-status-error-bold: #D9475A;
  --background-status-error: #D9475A80;
  --background-status-error-subtle: #D9475A40;
  --background-status-pending-bold: #FFBF00;
  --background-status-pending: #FFBF0080;
  --background-status-pending-subtle: #FFBF0033;
  --background-status-success-bold: #00A68C;
  --background-status-success: #00A68C80;
  --background-status-success-subtle: #00A68C33;
  --background-status-active-bold: var(--global-primary);
  --background-status-active: #1199FA80;
  --background-status-active-subtle: #1199FA33;
  --background-status-neutral-bold: #7B849B;
  --background-status-neutral: #7B849B80;
  --background-status-neutral-subtle: #7B849B33;
  --background-button-primary: var(--global-primary);
  --background-button-primary-hover: #2EA5FB;
  --background-button-text-hover: #1199FA0D;
  --background-button-danger: #D9475A;
  --background-button-danger-hover: #DE5D6E;
  --background-button-text-danger-hover: #D9475A1A;
  --background-button-success: #00A68C;
  --background-button-success-hover: #1FB19A;
  --background-button-text-success-hover: #00A68C0D;
  --background-decorative-purple-bold: #9255C2;
  --background-decorative-purple: #5E257A;
  --background-decorative-purple-subtle: #441860;
  --background-decorative-orange-bold: #F76341;
  --background-overlay-modal: #00000080;
  --background-gradient-line-chart: linear-gradient(180deg, #1199FA33 37.38%, #1199FA00 99.51%);
  --background-gradient-margin: linear-gradient(270.21deg, #D9475A -1.61%, #FFBF00 100%);
  --background-gradient-health-rainbow: linear-gradient(270deg, #005747 0%, #00A68C 25%, #FFBF00 51.04%, #FFBF00 70.31%, #D9475A 80.73%);
  --background-gradient-promo-1: linear-gradient(270.21deg, #9F86C1 -1.61%, #1199FA 51.19%, #26D1D3 100%);
  --border-surface: #FFFFFF1A;
  --border-surface-emphasis: #FFFFFF26;
  --border-surface-contrast: #0000001A;
  --border-status-active: var(--global-primary);
  --border-status-error: #D9475A;
  --border-button-primary: var(--global-primary);
  --border-button-secondary: #7B849B;
  --border-button-success: #00A68C;
  --border-surface-forced-white: #FFF;
  --content-primary: #FFF;
  --content-secondary: #A0A9BE;
  --content-tertiary: #7B849B;
  --content-danger-bold: #FAACB6;
  --content-danger: #D9475A;
  --content-success-bold: #ACECE1;
  --content-success: #00A68C;
  --content-success-subtle: #017361;
  --content-active-bold: #92D1FF;
  --content-active: var(--global-primary);
  --content-pending-bold: #FFE591;
  --content-pending: #FFBF00;
  --content-contrast-primary: #0B1426;
  --content-contrast-secondary: #565F76;
  --content-forced-white: #FFF;
  --content-forced-tertiary: #7B849B;
  --content-decorative-red: #ED7685;
  --content-decorative-yellow: #FFBF00;
  --content-decorative-green: #109A85;
  --content-decorative-blue: var(--global-primary);
  --content-decorative-purple-bold: #CD9EFF;
  --content-decorative-purple: #9255C2;
  --content-decorative-grey: #C9CFDD;
 
  /* Popper */
  --popper-theme-background: var(--background-surface-1);
  --popper-theme-background-hover: var(--background-surface-1-hover);
  --popper-theme-text-color: var(--content-primary);
}
 